body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0px;
    border-top: solid 1px #ffffff;
    background-color: #ffffff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 40px;
    height: 40px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

/* Pagina Game over vitoria index*/
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.buttons select {
    margin-bottom: 7px;

    background: none;
    border: 0;
    border: 1px solid white;
    border-radius: 5px;

    width: 200px;
    height: 30px;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons select:hover {
    background-color: white;
    opacity: 0.7;
    color: black;
    cursor: pointer;
}

.buttons select:focus {
    outline: 0;
}

.buttons button {
    background: none;
    border: 0;
    border: 1px solid white;

    width: 200px;
    height: 50px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.buttons button:hover {
    background-color: white;
    opacity: 0.7;
    color: black;
    cursor: pointer;
}

.buttons button:focus {
    outline: 0;
}

